/*	Main Color File
	color: Red	
*/
/*===== Background Color =====*/
.red-bg,
.red-bg-layer:before,
.menu-sec > a:hover,
.menu-sec > a:focus,
.restaurant-search-form button:hover,
.restaurant-search-form button:focus,
.top-restaurants-carousel .owl-dots > div.active:before,
.sudo-bg-red:before,
.popular-dish-info > a:hover,
.popular-dish-info > a:focus,
.featured-restaurant-carousel .owl-nav > div:hover,
.featured-restaurant-info > a:hover,
.featured-restaurant-info > a:focus,
.popular-dish-info > a.red-bg,
.page-item.active .page-link,
.page-item.active .page-link:hover,
.page-item .page-link:hover,
.page-item .page-link:focus,
.price-header:before,
.price-box > a:hover,
.price-box > a:focus,
.price-box.active > a,
.radio-box [type="radio"]:checked + label:after,
.radio-box [type="radio"]:not(:checked) + label:after,
.check-box [type="checkbox"]:checked + label:after,
.check-box [type="checkbox"]:not(:checked) + label:after,
.contact-form-inner > form button:hover,
.contact-form-inner > form button:focus,
.restaurant-detail-thumb ul.restaurant-detail-thumb-carousel li::before,
.restaurant-detail-tabs > ul > li a::before,
.ord-btn > a,
.select-wrp2 .chosen-container-single .chosen-drop > ul li.result-selected,
.select-wrp2 .chosen-container-single .chosen-drop > ul li.highlighted,
.select-wrp2 .chosen-container-single .chosen-drop > ul li:hover,
.post-share > a:hover,
.post-share > a:focus,
.blog-detail-gallery-carousel .owl-nav > div:hover,
.featured-restaurant-food-thumb-carousel li::before,
.toggle-item > h4.active i,
input:checked + .switch-slider,
.reservation-tabs-list .nav-tabs > li a span::before,
.packege-box > a:hover,
.packege-box > a:focus,
.step-buttons button.red-bg,
.step-buttons a.red-bg,
.step-buttons button:hover,
.step-buttons a:hover,
a.close-btn:hover,
a.close-btn:focus,
.log-close-btn:hover,
.log-close-btn:focus,
.sign-close-btn:hover,
.sign-close-btn:focus,
.payment-close-btn:hover,
.payment-close-btn:focus,
.payment-close-btn2:hover,
.payment-close-btn2:focus,
.view-menu-liks > a:hover,
.view-menu-liks > a:focus,
.order-info > a:hover,
.order-info > a:focus,
.style2 .pagination > li.prev a:hover, 
.style2 .pagination > li.next a:hover,
.style2 .pagination > li.prev a:focus, 
.style2 .pagination > li.next a:focus,
.profile-info > a.change-password.red-clr::before,
.profile-img-upload-btn > label.yellow-bg:hover,
.restaurant-detail-title > a:hover,
.restaurant-detail-title > a:focus,
.responsive-logomenu > span.yellow-bg:hover,
.responsive-menu > span.yellow-bg:hover,
.register-btn > a.yellow-bg:hover,
.track-popup-innr > form button.yellow-bg:hover,
.track-popup-innr > form a.yellow-bg:hover,
a.track-close:hover,
a.track-close:focus,
.order-time > a.yellow-bg:hover,
.order-time > a.yellow-bg:focus,
.social2 > a:hover,
.rite-meta .view-more:hover,
.welcome-secinfo > span,
.arrow-left,
.form-meta button,
.view-more:hover
{
	background-color: FF0000;
}

/*===== Text Color =====*/
.red-clr,
.social1 > a:hover,
.social1 > a:focus,
.responsive-menu .social1 > a:hover,
.responsive-menu .social1 > a:focus,
.topbar-register > a:hover,
.topbar-register > a:focus,
.popular-dish-info > h4 a:hover,
.popular-dish-info > h4 a:focus,
.featured-restaurant-info > h4 a:hover,
.featured-restaurant-info > h4 a:focus,
.popular-dish-info > a.red-bg:hover,
.popular-dish-info > a.red-bg:focus,
.locat-list > li::before,
.news-info > h4 a:hover,
.news-info > h4 a:focus,
.breadcrumb > li.breadcrumb-item.active,
.breadcrumb > li.breadcrumb-item a:hover,
.breadcrumb > li.breadcrumb-item a:focus,
.select-wrp .chosen-container-single .chosen-drop > ul li.result-selected,
.select-wrp .chosen-container-single .chosen-drop > ul li.highlighted,
.select-wrp .chosen-container-single .chosen-drop > ul li:hover,
.mini-post-info > h5 a:hover,
.mini-post-info > h5 a:focus,
.contact-info-box > p a:hover,
.contact-info-box > p a:focus,
.sidebar .widget ul li:hover,
.sidebar .widget ul li:hover > a,
.widget.style2 ul li:hover > span,
.sidebar .widget ul li a:focus,
.info-meta > span a:hover,
.info-meta > span a:focus,
.restaurant-detail-tabs > ul > li a:hover,
.restaurant-detail-tabs > ul > li.active a,
.search-dish > button:hover,
.ord-btn > a:hover,
.ord-btn > a:focus,
.book-table form button:hover,
.book-table form button:focus,
.post-next-prev > a:hover,
.post-next-prev > a:focus,
.post-meta > span a:hover,
.post-meta > span a:focus,
.author-info > h4 a:hover,
.author-info > h4 a:focus,
.comment-info > h4 a:hover,
.comment-info > h4 a:focus,
.reply-form button:hover,
.reply-form button:focus,
.top-restaurant-carousel2 .owl-nav > div:hover,
.reservation-tabs-list .nav-tabs > li:hover a,
.reservation-tabs-list .nav-tabs > li.active a,
.gallery-info-btns > a:hover,
.gallery-info-btns > a:focus,
.sign-form a:hover,
.sign-form a:focus,
.yellow-bg .user-info-inner > h5 a:hover,
.yellow-bg .user-info-inner > h5 a:focus,
.yellow-bg .user-info-inner > span a:hover,
.yellow-bg .user-info-inner > span a:focus,
.profile-sidebar-inner > ul > li > a:hover,
.profile-sidebar-inner > ul > li a:focus,
.profile-sidebar-inner > ul > li.active > a,
.profile-sidebar-inner > ul > li.active > a:hover,
.profile-sidebar-inner > ul > li.active > a:focus,
.profile-sidebar-inner > ul > li > a:hover i,
.profile-sidebar-inner > ul > li a:focus i,
.profile-sidebar-inner > ul > li.active > a i,
.profile-sidebar-inner > ul > li a::before,
.review-box > h4 a:hover,
.review-box > h4 a:focus,
.order-info > h4 a:hover,
.order-info > h4 a:focus,
.post-tags2 > a:hover,
.post-tags2 > a:focus,
.restaurant-info-inner > h6 a:hover,
.restaurant-info-inner > h6 a:focus,
.food-featured-post-info > h3 a:hover,
.food-featured-post-info > h3 a:focus,
.order-detail > h4 a:hover,
.order-detail > h4 a:focus,
.title1-inner span,
.food-types,
.get_in_touch ul li i,
.widget ul li a:hover,
.restaurant-searching-inner > span i,
.like-meta,
.article-meta > h3 a:hover,
.caro-dish-name > span,
.dish-meta > span,
.uper-meta > h4 a:hover,
.food-price,
.food-menu-sec > i,
.chef-box ul li h5 a:hover,
.form-meta > span,
.upcoming-event .title1-inner > b,
.upcoming-event .countdown > li p,
.mini-post-data
{
	color: #ea1b25;
}

/*===== Border Color =====*/
.restaurant-search-form2 > button:hover,
.popular-dish-info > a:hover,
.popular-dish-info > a:focus,
.page-item.active .page-link,
.page-item.active .page-link:hover,
.page-item .page-link:hover,
.page-item .page-link:focus,
.top-restaurant > a:hover,
.ord-btn > a,
.book-table form button.red-bg,
.post-share > a:hover,
.post-share > a:focus,
.reply-form button,
.toggle-item.activate,
input:checked + .switch-slider,
.user-info.yellow-bg > img
{
	border-color: #ea1b25;
}

/*===== Border Top Color =====*/ 



/*===== Border Right Color =====*/ 


/*===== Border Bottom Color =====*/
.toggle-item.activate > h4
{
	border-bottom-color: #ea1b25;
}

/*===== Border Left Color =====*/ 
blockquote
{
	border-left-color: #ea1b25;
}